<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Mitnahmeangebot erstellen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="icon" type="image/svg" href="/car.svg" />

  <style>
    body {
      background-color: lightgray;
    }
  </style>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="/">
        StudCar
        <img src="/car.svg" alt="StudCar" width="30px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/view/offers">Mitnahmeangebote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/view/requests">Mitnahmeanfragen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/user">Über dich</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>

<body>
  <div class="card" style="margin-top: 15px; margin-left: 15px; margin-right: 15px">
    <div class="card-header">Mitfahrer {passengerName}</div>
    <div class="card-body">
      <img src="/defaultProfilePicture.jpg" width="100" height="100" class="rounded float-start"
        alt="defaultProfilePicture" style="margin-right: 15px" />
      <h5 class="card-title">
        Mitnahmeangebot Strecke: {request.pickUpLocation} &#8594;
        {request.destinationCampus}
      </h5>
      <span class="badge rounded-pill text-bg-info">Am: {request.driveDate}</span>
      <span class="badge rounded-pill text-bg-info">Start: {request.pickUpLocation}</span>
      <span class="badge rounded-pill text-bg-info">Ziel: {request.destinationCampus}</span>
      <span class="badge rounded-pill text-bg-info">Ankunft: {request.arrivalTime}</span>
      <br /><br />
      <p class="card-text"><b>Kurzbeschreibung:</b> {request.description}</p>
    </div>
  </div>

  <div class="card" style="margin-top: 15px; margin-left: 15px; margin-right: 15px">
    <div class="card-header">
      <h4>Mitnahmeangebot erstellen</h4>
    </div>
    <div class="card-body">
      <form action="javascript:sendDriveOffer('{request.id}')">
        <div class="mb-3">
          <label for="startLocation" class="form-label"><b>Startort</b> (Pflichtfeld)
          </label>
          <input type="text" class="form-control" id="startLocation" aria-describedby="startLocationHelp" required />
          <div id="startLocationHelp" class="form-text">
            Von wo aus fahren Sie los?
          </div>
        </div>
        <div class="mb-3">
          <label for="pickUpLocation" class="form-label"><b>Abholort</b> (Pflichtfeld)
          </label>
          <input type="text" class="form-control" id="pickUpLocation" aria-describedby="pickUpLocationHelp" required />
          <div id="pickUpLocationHelp" class="form-text">
            Wo möchten Sie die Mitfahrer/in abholen?
          </div>
        </div>
        <div class="mb-3">
          <label for="pickUpTime" class="form-label"><b>Abholzeitpunkt</b> (Pflichtfeld)
          </label>
          <input type="time" class="form-control" id="pickUpTime" aria-describedby="pickUpTimeHelp" required />
          <div id="pickUpTimeHelp" class="form-text">
            Wann möchten Sie die Mitfahrer/in abholen?
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col">
            <label for="campusPicker" class="form-label"><b>Zielcampus</b> (Pflichtfeld)
            </label>
            <select class="form-select" id="campusPicker" aria-label="Choose Campus" required>
              <option value="Caprivi">Caprivi</option>
              <option value="Haste">Haste</option>
              <option value="Lingen">Lingen</option>
              <option value="Westerberg">Westerberg</option>
            </select>
            <div id="campusPickerHelp" class="form-text">
              Zu welchem Campus möchten Sie fahren?
            </div>
          </div>
          <div class="col">
            <label for="seatPicker" class="form-label"><b>Anzahl freier Sitze</b> (Pflichtfeld)
            </label>
            <select class="form-select" id="seatPicker" aria-label="Choose Seats" required>
              <option value="1">1 Sitz</option>
              <option value="2">2 Sitze</option>
              <option value="3">3 Sitze</option>
              <option value="4">4 Sitze</option>
              <option value="5">5 Sitze</option>
              <option value="6">6 Sitze</option>
              <option value="7">7 Sitze</option>
              <option value="8">8 Sitze</option>
            </select>
            <div id="seatPickerHelp" class="form-text">
              Wie viele freie Sitze bieten Sie an?
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="arrivalTime" class="form-label"><b>Ankunftszeit</b> (Pflichtfeld)
          </label>
          <input type="time" class="form-control" id="arrivalTime" aria-describedby="arrivalTimeHelp" required />
          <div id="arrivalTimeHelp" class="form-text">
            Wann werden Sie am gewünschten Campus eintreffen?
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"><b>Beschreibung</b></label>
          <textarea class="form-control" id="description" rows="3"></textarea>
          <div id="descriptionHelp" class="form-text">
            Hier können Sie dem Mitfahrer / der Mitfahrerin noch etwas
            mitteilen. Gibt es z. B. besondere Abholumstände?
          </div>
        </div>
        <button type="submit" class="btn btn-secondary">Abschicken</button>
      </form>
    </div>
  </div>

  <script>
    // Timepicker mit aktueller Zeit versehen
    tpSetCurrentTime();

    async function sendDriveOffer(requestId) {
      startLocation = document.getElementById("startLocation").value;
      pickUpLocation = document.getElementById("pickUpLocation").value;
      pickUpTime = document.getElementById("pickUpTime").value;
      destinationCampus = document.getElementById("campusPicker").value;
      freeSeats = document.getElementById("seatPicker").value;
      arrivalTime = document.getElementById("arrivalTime").value;
      description = document.getElementById("description").value;

      dataToSend = JSON.stringify({
        startLocation: startLocation,
        pickUpLocation: pickUpLocation,
        destinationCampus: destinationCampus,
        pickUpTime: pickUpTime,
        freeSeats: freeSeats,
        arrivalTime: arrivalTime,
        description: description,
      });

      const response = await fetch(
        "http://localhost:8080/requests/" + requestId,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: dataToSend,
        }
      );

      let location = "http://localhost:8080/view/requests";
      window.location.assign(location);
    }

    function tpSetCurrentTime() {
      var today = new Date();
      var hours = today.getHours();
      var minutes = today.getMinutes();

      if (hours < 10) hours = "0" + month;
      if (minutes < 10) minutes = "0" + minutes;

      var time = hours + ":" + minutes;

      document.getElementById("pickUpTime").setAttribute("value", time);
      document.getElementById("arrivalTime").setAttribute("value", time);
    }
  </script>
</body>

</html>